body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    background: #F2F2F2;
}
.container {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto; 
}
h1 {
    font-size: 32px;
    text-align: center;
    color: #333333;
}
.form {
    width:100%;
    margin-bottom: 20px;
}
textarea { /* El area donde se pondran las notas */
    width:100%;
    font-size: 24px;
    padding: 16px;
    /* ajusta el tamaño según tus necesidades */
    height: 100px;
    /* ajusta el tamaño según tus necesidades */
    border-radius: 16px;
    border: 2px solid rgb(88, 82, 82);
    margin-bottom: 10px;
    box-sizing: border-box;
}
.form textarea::placeholder {
    /*Aqui le estoy aplicando estilos a lo que va dentro del input  */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    /* Ajusta el tamaño del placeholder según tus necesidades */
    color: #BDBDBD;
}
.button-add { /*Boton agregar */
    width:100%;
    height: 45px;
    border-radius: 16px;
    padding: 8px, 16px;
    margin: auto;
    background-color: #4F4F4F;
    border: none;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    box-sizing: border-box;
}
.button-add:hover{
    background-color: #696666;
}
.note {
    max-width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 10px; /* El espacio entre nota y nota*/
    padding: 16px;
    background-color: #FFFFFF; /* Fondo blanco */
    border-radius: 16px; /* Contornos ovalados */
    border: 2px solid rgb(88, 82, 82);
    position: relative;
    word-wrap: break-word;
    box-sizing: border-box; /* Ajuste para incluir padding en el ancho y alto */
    white-space: pre-line;
 }

 .note p {
    padding: 0px;
    margin: 0px;
 }
 
.note button { /*boton eliminar */
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #E0E0E0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #4F4F4F;
    border: none;
    cursor: pointer;
    border-radius: 16px; /* Contornos ovalados para el botón */
    Width: 83px;
    Height: 30px;
    Padding: 4px, 16px;
    box-sizing: border-box;
}
.note button:hover {
    background-color: #c5c2c2;
}
@media screen and (max-width: 600px) {
    .button-add {
        font-size: 18px;
    }

    .note button {
        font-size: 14px;
    }
}

